// ==========================================================================
// COLORS
// ==========================================================================//

//Custom colors

$mediumgrey: #585048;
$darkgrey: #49433D;
$brown: #924738;
$darkbrown: #773A2E;
$green: #0AD71F;


// Color Usage

$color-primary: $brown;
$color-secondary: $mediumgrey;


// Common Colors

$white: #FFF;
$offwhite: #F9F9F9;
$black: #0B0B0B;
$trueblack: #000;